@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

@layer components {
  .card {
    @apply flex flex-col h-auto text-neutral-950 box-border outline-solid outline-transparent data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-offset-2 shadow-md rounded-lg motion-reduce:transition-none relative overflow-hidden border-2 border-neutral-200 bg-neutral-50 transition-all hover:border-red-500/50
  }

  .avatar {
    @apply w-10 h-10 max-w-10 max-h-10 flex relative justify-center items-center box-border overflow-hidden align-middle z-0 outline-solid outline-transparent data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-offset-2 rounded-full ring-2 ring-offset-neutral-50 ring-offset-2 ring-neutral-200;
  }

  .logandhillon-link {
    @apply relative outline-solid outline-transparent data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-offset-2 text-base text-red-600 hover:underline transition-opacity underline-offset-4 font-semibold flex items-center gap-1;
  }

  .button {
    @apply z-0 relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden transform-gpu data-[pressed=true]:scale-[0.97] cursor-pointer outline-solid outline-transparent data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-offset-2 min-w-24 h-12 rounded-lg [&>svg]:max-w-8 motion-reduce:transition-none gap-2 px-8 text-base text-neutral-950;
  }
}

@layer base {
  * {
    @apply border-neutral-200;
  }

  body {
    @apply bg-neutral-50 text-neutral-950;
  }
}
